*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}
.home{
    height: 10vw;
    border-radius: 20px;
}
.library{
    height: 90vw;
    border-radius: 20px;
}
.left{
    width: 15vw;
}
.right{
    width: 85vw;
    border-radius: 20px;
}
.home ul li{
    display: flex;
    gap: 1rem;
    font-weight: bold;
}
.bgcolor{
    background-color: #212121;
}
