@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    background-color:aliceblue;
}
*{                              /*Universal Selector*/
    margin: 0;
    padding: 0;
}
nav{
    font-family: "Ubuntu", sans-serif;
}
nav ul{
    display: flex;              /* all the item will come horizontally*/
    align-items: center;
    list-style-type: none;     /* used to remove bullets from list*/
    height:"50px";
    background-color:black;
    color: white;
}
.l{
    padding-right: 50;
    border-left-width: 50px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem; 
    /*Rem (short for “root-em”) units dictate an element's font size relative to the size of the root element.*/
    padding-right: 20px;
}
.brand img{
    padding:0 8px;
}
.container{
    min-height:75vh;  
    /*The min-height CSS property sets the minimum height of an element.*/
}
.bottom{
    position:sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    padding-left:180px;
}
#myProgressBar{
    width: 80vw;          
    /*The full form of VW is viewport width. It works like the percentage unit. Specifying 10vw is equivalent to occupying 10% of entire visible screen width. */
    text-align: center;
}
