*{
    margin: 0px;
    padding: 0px;
}
/* body{
    background-color: black;
    color: white;
} */
.home{
    height: 10vw;
}
.library{
    height: 90vw;
}
.left{
    width: 15vw;
}
.right{
    width: 85vw;
}
.home ul li{
    display: flex;
    gap: 1rem;
    font-weight: bold;
}
